.grid label {
    display: block;
    text-align: left;
    margin-left: 1.5rem;
  }

  .grid input {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }

  // .p-accordionheader {
  //   font-weight: bold;
  //   border-bottom: 1px solid #ecdede;
  // }

  .p-accordionheader  {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      color: #ff0000; /* Change color on hover */
    }
  }

  .p-accordioncontent	 {
    // border: 1px solid #3f1c26; /* Match the header or use a different color */
    // border-top: none; /* Avoid double border between header and content */
    //margin-top: 0.5rem;
  }
