.grid label {
    display: block;
    text-align: left;
    margin-left: 1.5rem;
  }

  .grid input {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }

  .p-accordionheader  {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      color: #ff0000; /* Change color on hover */
    }
  }

  .insurance-details-partent-div {
    width: 90%; 
    margin-left: 5%;
    margin-top: 0.5%;
  }

  .payment-history-table {
    min-width: '50rem';
    margin-top:'1rem';
  }
